@font-face {
	font-family: 'Circe';
  font-style: normal;
	font-weight: 400;
	src: local('Circe'),
    url('/fonts/Circe-Regular.woff') format('woff'),
    url('/fonts/Circe-Regular.woff2') format('woff2');
}

@font-face {
	font-family: 'Circe';
  font-style: normal;
	font-weight: 700;
	src: local('Circe'),
    url('/fonts/Circe-Bold.woff') format('woff'),
    url('/fonts/Circe-Bold.woff2') format('woff2');
}

*, html {
  font-family: 'Circe';
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;

  box-sizing: border-box;
  color: #1E1E1E;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.form {
  margin: auto;
}

.assessment__wrapper {
  font-family: 'Oswald';
  font-weight: 400;
  font-size: 18px;

  display: flex;
  justify-content: space-between;
  margin: auto;
}

.assessment__form-wrapper {
  max-width: 1280px;
  margin: auto;
  padding: 40px;
  min-height: 400px;

  background-color: #FAFAFA;
}

.assessment h2 {
  font-size: 38px;
  font-weight: 700;

  margin: auto;
  margin-top: 50px;
  margin-bottom: 20px;
  max-width: 1280px;
  text-align: center;

}

.assessment__input-wrapper {
  max-width: 740px;
  margin: auto;
  margin-right: 50px;

}

.assessment__static-entry-fields {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.assessment__input {
  max-width: 360px;
  width: 100%;
  min-width: 300px;
  height: 57px;
  margin-bottom: 20px;

  padding: 6px 12px;

  background-color: #ffffff;
  border: 1px solid #F1F1F1;
  border-radius: 10px;
  outline: 0;
}

.assessment__input-container {
  max-width: 360px;
  width: 100%;
  min-width: 300px;
  height: 57px;
  margin-bottom: 20px;

  position: relative;
}

.assessment__comment-field {
  max-width: 760px;
  min-width: 200px;
  width: 100%;
  min-height: 171px;

  border: 1px solid #F1F1F1;
  border-radius: 10px;
  outline: 0;

  margin-bottom: 30px;
  padding: 6px 12px;
}

.assessment__input:hover,
.assessment__input:focus,
.assessment__comment-field:hover,
.assessment__comment-field:focus {
  outline: 1px solid #A52838;
}

.assessment__required-field {
  position: absolute;
  color: red;
  height: 57px;
  margin: 0;
  padding: 0;

  top: 20px;
  left: -13px;

  font-size: 22px;
}

.assessment__dynamic-container {
  min-width: 260px;
}

.assessment__input--dynamic {
  display: block;
  max-width: 760px;
}

.assessment__input-container--dynamic {
  max-width: 760px;
}

.assessment__dynamic--gems {
  display: flex;
  flex-wrap: wrap;
}

.assessment__carat {
  max-width: 360px;
  width: 100%;
  min-width: 300px;

  margin-left: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;

  cursor: pointer;
}

.assessment__carat input[type='checkbox'] {
  margin-top: -1px;
  width: 15px;
  height: 15px;
}

.assessment__sample-text {
  color: #888888;
  margin-left: 5px;
}

.assessment__footer {
  max-width: 740px;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.assessment__form-submit {
  max-width: 360px;
  width: 100%;
  min-width: 300px;
  height: 57px;

  margin-bottom: 20px;
  margin-right: 32px;

  background-color: #A52838;
  color: #FFFFFF;
  border: 1px solid #A52838;
  border-radius: 10px;
  outline: 0;

  cursor: pointer;
}

.social {
  display: flex;
  justify-content: space-between;
  min-width: 300px;
}

.social__info {
  color: #888888;
  font-size: 16px;
  line-height: 24px;
  margin-right: 15px;
  max-width: 160px;
}

.social__ref {
  width: 46px;
  height: 46px;

  background-color: #BE9A55;
  border-radius: 10px;
  margin-right: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.social__ref img {
  vertical-align: middle;
  padding: 0;
}

.social__ref--viber {
  background-color: #6857DC;
}

.social__ref--whatsapp {
  background-color: #38B266;
}

.social__ref--telegram {
  background-color: #299ED8;
}

.assessment__photo {
  width: 410px;
  min-width: 300px;
  min-height: 490px;
  max-height: 710px;

  background-color: #F1F1F1;
  border-radius: 10px;
}

.assessment__add-photo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

.assessment__photo-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 60px;
}

.assessment__product-preview {
  width: 80px;
  height: 80px;
  border-radius: 10px;
}

.assessment__img-box {
  position: relative;
  margin-bottom: 15px;
  width: 85px;
  height: 85px;
  background-color: #FFFFFF;
  border-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.assessment__img-box span {
  position: absolute;

  width: 24px;
  height: 24px;
  background-color: #A52838;
  border-radius: 50%;
  top: -10px;
  right: -10px;

  display: none;
  cursor: pointer;
}

.assessment__img-box span::after,
.assessment__img-box span::before {
  content: '';
  position: absolute;

  width: 1px;
  height: 10px;

  background-color: #ffffff;
  right: 11px;
  top: 7px;
}

.assessment__img-box span::after {
  transform: rotate(45deg)
}

.assessment__img-box span::before {
  transform: rotate(-45deg)
}

.assessment__img-box:hover span {
  display: block;
}

.assessment__photo-upload {
  margin-top: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 56px;
  border-bottom: 1px solid #E8E8E8;
}

.photos__text {
  display: block;
  color: #888888;
  font-size: 16px;
  line-height: 24px;
}

.assessment__invalid-message {
  color: red;
  margin-bottom: 15px;

  display: none;
}

.hidden {
  display: none;
}

.show {
  display: block;
}

.assessment__input--invalid,
.assessment__input--invalid:hover,
.assessment__input--invalid:focus {
  outline: 2px solid red;
}

@keyframes shake {
  0%, 100%                 {transform: translateX(0);     }
  10%, 30%, 50%, 70%, 90%  {transform: translateX(-10px); }
  20%, 40%, 60%, 80%       {transform: translateX(10px);  }
}

.modal-error {
  animation: shake;
  animation-duration: 0.6s;
}


@media(max-width: 1170px) {
  .assessment__input {
    max-width: none;
  }

  .assessment__input-container {
    max-width: none;
  }

  .assessment__photo-container {
    grid-template-columns: 1fr 1fr;
  }

  .assessment__carat {
    margin-left: 0;
  }
}


@media(max-width: 760px) {
  .form {
    width: 320px;
  }

  .assessment__form-wrapper {
    min-width: 320px;
  }

  .assessment__wrapper {
    flex-wrap: wrap;
  }

  .assessment__input {
    max-width: 300px;
  }

  .assessment__comment-field {
    max-width: 300px;
  }

  .assessment__photo {
    width: 300px;
  }

  .assessment__form-wrapper {
    padding: 20px;
  }

  .assessment__footer {
    margin-top: 20px;
    max-width: 300px;
  }

  .social__info {
    max-width: 120px;
    font-size: 12px;
  }
}
