*, html {
  box-sizing: border-box;
  color: #1E1E1E;

  font-size: 18px;
  line-height: 26px;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.form {
  /* display: flex; */
  /* justify-content: space-between; */
  /* flex-wrap: wrap; */
}

.assessment__wrapper {
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.assessment__form-wrapper {
  max-width: 1280px;
  margin: auto;
  padding: 40px;
  min-height: 400px;

  background-color: #FAFAFA;
}

.assessment h2 {
  margin: auto;
  margin-top: 50px;
  max-width: 1280px;
  text-align: center;
}

.assessment__input-wrapper {
  max-width: 740px;
  margin: auto;
  margin-right: 50px;

}

.assessment__static-entry-fields {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.assessment__input {
  max-width: 360px;
  width: 100%;
  min-width: 300px;
  height: 57px;
  padding: 6px 12px;

  margin-bottom: 20px;

  background-color: #ffffff;
  border: 1px solid #F1F1F1;
  border-radius: 10px;
  outline: 0;
}

.assessment__comment-field {
  max-width: 760px;
  min-width: 200px;
  width: 100%;
  min-height: 171px;

  border: 1px solid #F1F1F1;
  border-radius: 10px;
  outline: 0;

  margin-bottom: 30px;
  padding: 6px 12px;
}

.assessment__input:hover,
.assessment__input:focus,
.assessment__comment-field:hover,
.assessment__comment-field:focus {
  outline: 1px solid #A52838;
}

.assessment__dynamic-container {
  min-width: 260px;
}

.assessment__input--dynamic {
  max-width: 760px;
}

.assessment__carat {
  margin-left: 20px;
  cursor: pointer;
}

.assessment__sample-text {
  color: #888888;
  margin-left: 5px;
}

.assessment__footer {
  max-width: 740px;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.assessment__form-submit {
  max-width: 360px;
  width: 100%;
  min-width: 300px;
  height: 57px;

  margin-bottom: 20px;
  margin-right: 32px;

  background-color: #A52838;
  color: #FFFFFF;
  border: 1px solid #A52838;
  border-radius: 10px;
  outline: 0;

  cursor: pointer;
}

.social {
  display: flex;
  justify-content: space-between;
  min-width: 300px;
}

.social__info {
  color: #888888;
  font-size: 16px;
  line-height: 24px;
  margin-right: 15px;
  max-width: 160px;
}

.social__ref {
  width: 46px;
  height: 46px;

  background-color: #BE9A55;
  border-radius: 10px;
  margin-right: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.social__ref img {
  vertical-align: middle;
  padding: 0;
}

.assessment__photo {
  width: 410px;
  min-width: 300px;
  min-height: 490px;
  max-height: 710px;

  background-color: #F1F1F1;
  border-radius: 10px;
}

.assessment__add-photo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

.assessment__photo-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 60px;
}

.assessment__product-preview {
  width: 80px;
  height: 80px;
  border-radius: 10px;
}

.assessment__img-box {
  position: relative;
  margin-bottom: 15px;
  width: 85px;
  height: 85px;
  background-color: #FFFFFF;
  border-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.assessment__img-box span {
  position: absolute;

  width: 24px;
  height: 24px;
  background-color: #A52838;
  border-radius: 50%;
  top: -10px;
  right: -10px;

  display: none;
  cursor: pointer;
}

.assessment__img-box span::after,
.assessment__img-box span::before {
  content: '';
  position: absolute;

  width: 1px;
  height: 10px;

  background-color: #ffffff;
  right: 11px;
  top: 7px;
}

.assessment__img-box span::after {
  transform: rotate(45deg)
}

.assessment__img-box span::before {
  transform: rotate(-45deg)
}

.assessment__img-box:hover span {
  display: block;
}

.assessment__photo-upload {
  margin-top: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 56px;
  border-bottom: 1px solid #E8E8E8;
}

.photos__text {
  display: block;
  color: #888888;
  font-size: 16px;
  line-height: 24px;
}


@media(max-width: 1170px) {
  .assessment__input {
    max-width: none;
  }

  .assessment__photo-container {
    grid-template-columns: 1fr 1fr;
  }
}


@media(max-width: 760px) {
  .assessment__wrapper {
    flex-wrap: wrap;
  }

  .assessment__input {
    max-width: 300px;
  }

  .assessment__comment-field {
    max-width: 300px;
  }

  .assessment__photo {
    width: 300px;
  }

  .assessment__form-wrapper {
    padding: 20px;
  }

  .assessment__footer {
    margin-top: 20px;
  }
}
